---
import Btn from "./Btn.astro"

const { alternative, formBtn, placeholder, widthInput, textBtn } = Astro.props
const justifyContentContainer = alternative ? "center" : "flex-start"
const widthInputMd = alternative ? "auto" : "100% !important"
---

<form id={formBtn} action="POST" class="form-container">
  {
    !alternative && (
      <input class="input" type="email" name="email" id="email" placeholder={placeholder} />
    )
  }
  <Btn alternative={alternative} textBtn={textBtn} formBtn={formBtn} />
</form>

<style define:vars={{ widthInput: widthInput ?? "auto", justifyContentContainer, widthInputMd }}>
  .form-container {
    display: flex;
    justify-content: var(--justifyContentContainer);
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .input {
    width: var(--widthInput);
    padding: 1.5rem 2rem;
  }

  .input::placeholder {
    color: var(--light-gray);
  }

  @media (width <= 670px) {
    .form-container {
      width: 100%;
      flex-direction: column;
    }

    .input {
      width: var(--widthInputMd);
    }
  }
</style>
