---
import "@fontsource/poppins/200.css"
import "@fontsource/poppins/400.css"
import "@fontsource/poppins/600.css"
import "@fontsource/poppins/800.css"
import "@fontsource-variable/open-sans"

const { title, description, bgColor } = Astro.props
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Martín Agüera" />
    <meta name="description" content={description} />
    <meta name="og:description" content={description} />
    <meta name="og:title" content={title} />
    <title>{title}</title>
  </head>
  <body
    class=`bg-${bgColor} pt-10 px-10 my-0 mx-auto max-w-screen-lg sm:pt-14 sm:px-14 md:pt-20 md:px-20`>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-size: 10px;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "Poppins", sans-serif;
  }

  p,
  span,
  input {
    font-family: "Open Sans Variable", sans-serif;
  }

  @media (width <= 670px) {
    html {
      font-size: 9px;
    }
  }
</style>
