---
import { Image } from "astro:assets"
import MainBtn from "@components/MainBtn.astro"
import illustrationMockups from "@images/illustration-mockups.svg"
import screenMockups from "@images/screen-mockups.svg"

const { title, description, textBtn, alternative } = Astro.props

const MainImage = alternative ? illustrationMockups : screenMockups
const textColor = alternative ? "var(--very-pale-blue)" : "var(--very-dark-cyan)"
const flexDir = alternative ? "row-reverse" : "column"
const algItems = alternative ? "flex-start" : "center"
const padd = alternative ? "0" : "0 10rem"
const widthDescription = alternative ? "auto" : "70rem"
const textAlign = alternative ? "left" : "center"
const fontSizeTitle = alternative ? "4rem" : "5rem"
const fontSizeDescription = alternative ? "1.8rem" : "2rem"
const aspectRatio = alternative ? "709/506" : "1035/739"
const flexDirMediaQ = alternative ? "column-reverse" : "column"
---

<div class="hero-container">
  <div class="content">
    <h2 class="title">{title}</h2>
    <p class="description">{description}</p>
    <MainBtn text={textBtn} alternative={alternative} />
  </div>
  <Image class="image-hero" src={MainImage} alt="Main image" />
</div>

<style
  define:vars={{
    textColor,
    padd,
    flexDir,
    algItems,
    widthDescription,
    textAlign,
    fontSizeTitle,
    fontSizeDescription,
    aspectRatio,
    flexDirMediaQ
  }}
>
  .hero-container {
    display: flex;
    flex-direction: var(--flexDir);
    gap: 10rem;
    align-items: center;
    justify-content: center;
    margin-block: 10rem;
    padding: var(--padd);
    color: var(--textColor);
    text-align: var(--textAlign);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: var(--algItems);
    gap: 3rem;
  }

  .title {
    font-size: var(--fontSizeTitle);
  }

  .description {
    width: var(--widthDescription);
    font-size: var(--fontSizeDescription);
    line-height: 2.6rem;
  }

  .image-hero {
    aspect-ratio: var(--aspectRatio);
  }

  @media (width <= 1000px) {
    .hero-container {
      flex-direction: var(--flexDirMediaQ);
      padding: 0;
    }

    .description {
      width: 50rem;
      font-size: 2rem;
    }

    .image-hero {
      width: 100%;
      height: 40rem;
    }
  }

  @media (width <= 670px) {
    .hero-container {
      text-align: center;
    }

    .content {
      align-items: center;
      text-align: center;
    }

    .title {
      font-size: 4rem;
    }

    .description {
      width: 100%;
    }
  }
</style>
