---
import { Image } from "astro:assets"

const { title, description, image, reverse, bgImage } = Astro.props

const bgColor = reverse ? "#ffffff" : "var(--very-pale-blue)"
const flexDir = reverse ? "row-reverse" : "row"
---

<article class="information-card-container">
  {bgImage && <img class="image top" src={bgImage.top} alt={title} />}
  <div class="content">
    <div class="content-text">
      <h5 class="title">{title}</h5>
      <p class="description">{description}</p>
    </div>
    <Image class="content-image" src={image} alt={title} />
  </div>
  {bgImage && <img class="image bottom" src={bgImage.bottom} alt={title} />}
</article>

<style define:vars={{ bgColor, flexDir }}>
  .information-card-container {
    padding: 4rem 8rem;
    margin: 25rem -6rem;
    position: relative;
    background-color: var(--bgColor);
  }

  .image {
    position: absolute;
    width: 100%;
    height: 15rem;
    left: 0;
    right: 0;
  }

  .top {
    top: -15rem;
  }

  .bottom {
    bottom: -15rem;
  }

  .content {
    display: flex;
    flex-direction: var(--flexDir);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .content-text {
    width: 50rem;
  }

  .title {
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .content-image {
    width: 50rem;
    height: 40rem;
    margin-block: 2rem;
  }

  @media (width <= 1000px) {
    .information-card-container {
      text-align: center;
      margin-block: 30rem;
    }

    .content {
      flex-direction: column-reverse !important;
      justify-content: center;
    }

    .description {
      font-size: 2rem;
    }

    .content-image {
      margin-bottom: 15rem;
    }
  }

  @media (width <= 670px) {
    .information-card-container {
      padding: 4rem;
      margin-inline: -4rem;
    }

    .content-text {
      width: 100%;
    }

    .title {
      font-size: 3.2rem;
    }

    .content-image {
      width: 100%;
      height: 30rem;
      margin-bottom: 10rem;
    }
  }
</style>
